html {
    height: 100%;
}

nav .nav-link.active {
    background-color: #6c757d !important;
    color: white !important;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;

    font-weight: bold;
}

nav .nav-link.active:hover {
  background-color: #5c636a !important;
}